extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
    script.
        sessionID="#{sessionID}";
        roomID="#{roomID}";
    script(src='/javascripts/client.js')
    script(src='/javascripts/canvas.js')

block content
    h1 #{title}
    #draw
        canvas#canvas
        #tools
            button.btn.btn-primary(id='clear') Clear
            input#color-picker
            input#thickness
    #chat
        .well(id='chat-window')
            ul.list-group(id='chat-messages')
        form.form-group(action='' id='chat-form')
            .input-group
                input.form-control(type='text' id='chat-input')
                span.input-group-btn
                    button.btn.btn-primary(id='chat-send') Send