extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/room.css')

block scripts
    script.
        sessionID="#{sessionID}";
        roomID="#{roomID}";
    script(src='/javascripts/client.js')
    script(src='/javascripts/canvas.js')

block content
    nav#nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") #{title}
                p.navbar-text #{roomID}
    canvas#canvas
    #draw
        #tools.well
            button.btn.btn-success(id='clear') Clear
            button.btn.btn-success(id='undo') Undo
            input#color-picker
            input#thickness
    #chat
        .panel.panel-success(id='chat-window')
            ul.list-group(id='chat-messages')
        form.form-group.has-success(action='' id='chat-form')
            .input-group
                input.form-control(type='text' id='chat-input')
                span.input-group-btn
                    button.btn.btn-success(id='chat-send') Send