extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/room.css')

block scripts
    script.
        sessionID="#{sessionID}";
        roomID="#{roomID}";
    script(src='/javascripts/client.js')
    script(src='/javascripts/canvas.js')

block content
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") #{title}
                p.navbar-text #{roomID}
    #draw
        canvas#canvas
        #tools
            button.btn.btn-primary(id='clear') Clear
            input#color-picker
            input#thickness
    #chat
        .panel.panel-primary(id='chat-window')
            ul.list-group(id='chat-messages')
        form.form-group(action='' id='chat-form')
            .input-group
                input.form-control(type='text' id='chat-input')
                span.input-group-btn
                    button.btn.btn-primary(id='chat-send') Send